.header{
  margin-bottom: $gap * 4;
}
.header-logo{
  background-color: $color-dark;
  background-image: url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;

  &__title{
    display:block;
    color:$color-accent;
    font-family: $font-header;
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    @extend %text-shadow;

    @include xs-min{
      font-size: 3.5rem;
      etter-spacing: 0.33em;
    }
    @include xs-min{
      font-size: 2.5rem;
      etter-spacing: 0.2em;
    }
  }
  &__description{
    display:block;
    font-size: 1.15rem;
    letter-spacing: 0.2rem;
    color: $color-light;
    @extend %text-shadow;

  }
}